* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


/*Nav bar*/

.hamburger {
    display: none; 
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    margin-right: 1.5vmax;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%; 
    height: 100vh;
    background-color: #0A4452;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 5vmax;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.active {
    right: 0; 
}

.sidebar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #c0c0c0;
    color: #000000;
}

/* Styly pro křížek */
.close-btn {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s;
}

.close-btn:hover {
    color: #0A4452; /* Změna barvy při najetí myší */
}


nav {
    background-color: #0A4452;
    color: #ffffff;
    width: 100%;
    height: 5vmax;
    z-index: 10;
    position: sticky;
    top: 0;
    overflow: visible;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 2vmax;
}

.left-nav img {
    width: 80%;
    height: auto;
}

.right-nav {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 4vmax;
    gap: 5vmax;
    align-items: center;
    font-weight: bold;
}

#home:hover {
    background-color: #0A4452;
}

#poptavka {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #ffffff;
    color:#0A4452;
    width: 70px;
    height: 20px;
    border-radius: 25px;
    transition: background-color 0.5s, color 0.5s;
}

#poptavka:hover {
    background-color: #cccccc;
}

nav a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 25px; 
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; 
}


nav a:hover {
    background-color: #ffffff; 
    color: #0A4452; 
}

#osvc {
    transition: background-color 0.3s, color 0.3s;
}

#osvc:hover {
    border-radius: 10px 10px 0 0; 
}

#neziskovka {
    transition: background-color 0.3s, color 0.3s;
}

#neziskovka:hover {
    border-radius: 0;
}

#firma {
    transition: background-color 0.3s, color 0.3s;
}

#firma:hover {
    border-radius: 0 0 10px 10px; 
}

#logo-nav {
    background-color: none;
}

.fa-solid {
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    background-color: white; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    z-index: 1; 
    font-size: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu li {
    list-style: none; 
}

.dropdown-menu a {
    display: block; 
    padding: 8px 16px; 
    text-decoration: none; 
    color: black; 
}

.dropdown-menu a:hover {
    background-color: #f1f1f1; 
}



/*Main*/

.main-section {
    display: flex; 
    width: 100%; 
    min-height: 70vh;
}

.main-left {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    width: 50%; 
    padding: 0; 
    background-image: url('/images/Vector 1.png'); 
    background-size: 100% 100%; 
    background-position: bottom; 
    background-repeat: no-repeat; 
}

.main-text {
    position: relative; 
    z-index: 1; 
    text-align: left; 
    padding: 30px; 
}

.main-text h4 {
    margin-bottom: 1vmax;
    font-size: 50px;
    font-weight: bolder;
    color: #0A4452;
}

.main-text i {
    margin-right: 0.3vmax;
}

.main-text p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.7vmax;
    color: #0A4452;
}

.main-right {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 50%; 
    min-height: 50vh; 
    background-color: #0A4452; 
}

.main-text button {
    width: 142px;
    height: 71px;
    border-radius: 25px;
    background-color: #0A4452;
    color: white;
    font-size: 20px;
    margin-top: 1.5vmax;
    transition: background-color 0.3s, color 0.3s;
}

.main-text button:hover {
    color: #ffffff;
    background-color: #072931;
}

#button-main {
    color: white;
    text-decoration: none;
}





/*JSEM*/

.jsem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 4vmax 0vmax 5vmax 0vmax;
}

.jsem h4 {
    font-size: 50px;
    color: #0A4452;
    text-align: center;
    margin-bottom: 2vmax;
}

.jsem-boxes {
    display: flex;
    flex-direction: row;
    gap: 10vmax;
    justify-content: center;
}

.jsem-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; 
    align-items: center; 
    background-color: #0A4452;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    padding: 50px; 
    border-radius: 25px;
    width: 200px; 
    height: 100px; 
    box-shadow: 8px 6px 5px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s;
}

.jsem-box i {
    display: flex;
    align-items: center;
    font-size: 75px; 
    margin-bottom: 1vmax; 
    margin-top: 1.5vmax;
}

.jsem-boxes a {
    text-decoration: none;
}

.jsem-box:hover {
    transform: scale(1.02);
}





/*Services*/

.services {
    width: 100%;
    height: 60vmax;
    background-color: #0A4452;
}

#services-title {
    padding: 2vmax;
    margin-bottom: 2vmax;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.services-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 9vmax;
    justify-content: center;
    margin-left: 2vmax;
    margin-right: 2vmax;
}

.services-box {
    padding: 1vmax;
    width: 455px; 
    height: 279px; 
    border-radius: 25px;
    background-color: #ffffff;
    flex: 0 25%;
    transition: transform 0.2s;
}

.services-box h4 {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 3vmax;
    color: #0A4452;
}

.services-box i {
    font-size: 70px;
    margin-right: 0.5vmax;
}

.services-box p {
    display: flex;
    color: #0A4452;
    font-size: 20px;
}

.services-box:hover {
    transform: scale(1.02);
}





/*CTI section*/

.cti {
    position: relative; 
    width: 100%;
    margin-bottom: 2vmax; 
}

.cti img {
    object-fit: cover;
    width: 100%; 
    height: 15vmax;
    filter: contrast(60%);
}

.cti button {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    background-color: #0A4452;
    width: 200px;
    height: 78px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
}

.cti button:hover {
    background-color: #072931;
}




/*Video section*/

.video {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 2vmax 0; 
}

.video h4 {
    font-size: 36px;
    color: #0A4452;
    text-align: center;
    margin-bottom: 2vmax; 
}

.video video {
    width: 800px; 
    height: auto; 
    max-width: 100%;
    margin-bottom: 2vmax;
}

.video button {
    background-color: #0A4452;
    width: 268px;
    height: 78px;
    border-radius: 25px;
    font-size: 24px;
}

.video button:hover {
    background-color: #072931;
}



/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #0A4452;
    width: 100%;
    height: 15vmax;
    color: #ffffff;
}

.footer-left {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin-left: 7vmax
}

.footer-left p {
    font-size: 20px;
    margin-bottom: 1vmax;
}

.footer-left a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 1vmax;
}

.footer-left i {
    font-size: 30px;
}

footer img {
    width: 40%;
    height: auto;
    margin-bottom: 2vmax;
}

.footer-right {
    padding: 30px;
    display: flex;
    width: 30%;
    margin-right: 15vmax;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-right p {
    padding: 12px;
    margin-bottom: 1vmax;
}

footer button {
    background-color: #ffffff;
    color: #0A4452;
    width: 268px;
    height: 78px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
}

#button-footer {
    text-decoration: none;
    color: #0A4452;
}




@media screen and (max-width: 480px) {
    .main-section img {
        display: none;
    }

    .main-left {
        width: 100%;
    }

    .main-right {
        display: none;       
    }

    .jsem-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vmax;
    }

    .services {
        height: 140vmax !important;
    }

    .services-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vmax;
        margin-bottom: 1vmax;
    }

    .services-box {
        width: 200px;
        height: 200px;
        padding: 45px;
    }

    .services-box h4 {
        font-size: 12px;
    }

    .services-box i {
        font-size: 25px;
    }

    .services-box p {
        font-size: 15px;
    }

    .video video {
        width: 70%;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    .footer-left {
        display: flex;
        width: 100%;
    }

    footer img {
        width: 200px;
    }

    .footer-left p {
        margin-top: 1vmax;
        font-size: 15px;
    }

    .footer-left i {
        font-size: 15px;
    }

    .footer-right {
        display: flex;
        width: 100%;
    }

    .footer-right p {
        padding-right: 100px;
        text-align: center; 
    }

    .footer-right button {
        margin-left: 50px !important;
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 7vmax;
    }

    .left-nav img {
        width: 70%;
    }

    .hamburger {
        display: block; 
    }

    .right-nav {
        display: none; 
    }

    .main-left {
        width: 100%;
    }

    .main-right {
        display: none;
    }

    .jsem-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vmax;
    }

    .services-boxes {
        gap: 20px;
    }

    .services {
        height: 95vmax;
    }

    .services-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 0 40%;
    }

    .video video {
        width: 80%;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    footer img {
        width: 300px;
    }

    .footer-right {
        display: flex;
        width: 100%;
    }

    .footer-left {
        display: flex;
        width: 100%;
    }
    
    .footer-right p {
        padding-right: 100px;
        text-align: center; 
    }

    .footer-right button {
        margin-left: 200px;
    }
}



