* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", serif;
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/*Nav bar*/

.hamburger {
    display: none; 
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    margin-right: 1.5vmax;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%; 
    height: 100vh;
    background-color: #0A4452;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 5vmax;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.active {
    right: 0; 
}

.sidebar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #c0c0c0;
    color: #000000;
}

/* Styly pro křížek */
.close-btn {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s;
}

.close-btn:hover {
    color: #0A4452; /* Změna barvy při najetí myší */
}


nav {
    background-color: #0A4452;
    color: #ffffff;
    width: 100%;
    height: 5vmax;
    z-index: 10;
    position: sticky;
    top: 0;
    overflow: visible;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 2vmax;
}

.left-nav img {
    width: 80%;
    height: auto;
}

.right-nav {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 4vmax;
    gap: 5vmax;
    align-items: center;
    font-weight: bold;
}

#home:hover {
    background-color: #0A4452;
}

#poptavka {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #ffffff;
    color:#0A4452;
    width: 70px;
    height: 20px;
    border-radius: 25px;
    transition: background-color 0.5s, color 0.5s;
}

#poptavka:hover {
    background-color: #cccccc;
}

nav a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 25px; 
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; 
}


nav a:hover {
    background-color: #ffffff; 
    color: #0A4452; 
}

#osvc {
    transition: background-color 0.3s, color 0.3s;
}

#osvc:hover {
    border-radius: 10px 10px 0 0; 
}

#neziskovka {
    transition: background-color 0.3s, color 0.3s;
}

#neziskovka:hover {
    border-radius: 0;
}

#firma {
    transition: background-color 0.3s, color 0.3s;
}

#firma:hover {
    border-radius: 0 0 10px 10px; 
}

#logo-nav {
    background-color: none;
}

.fa-solid {
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    background-color: white; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    z-index: 1; 
    font-size: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu li {
    list-style: none; 
}

.dropdown-menu a {
    display: block; 
    padding: 8px 16px; 
    text-decoration: none; 
    color: black; 
}

.dropdown-menu a:hover {
    background-color: #f1f1f1; 
}


/* Form section */

.form-section {
    margin: 1vmax;
}

.form-section h1 {
    color: #0A4452;
    font-size: 36px;
    text-align: center;
    margin-bottom: 2vmax;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row {
    display: flex;
    flex-direction: row;
    gap: 6vmax;
    margin-bottom: 1.5vmax;
}

.first-row label {
    color: #0A4452;
    font-size: 20px;
}

.first-row input {
    width: 15vmax;
    height: 2vmax;
    padding: 5px;
    border-radius: 5px;
    background-color: #ebebeb;
}

.second-row {
    display: flex;
    flex-direction: row;
    gap: 6vmax;
    margin-bottom: 1.5vmax;
}

.second-row label {
    color: #0A4452;
    font-size: 20px;
}

.second-row input {
    width: 15vmax;
    height: 2vmax;
    padding: 5px;
    border-radius: 5px;
    background-color: #ebebeb;
}

.second-row select {
    width: 16vmax;
    height: 3vmax;
    padding: 5px; 
    border-radius: 5px;
    background-color: #ebebeb;
}

.third-row label {
    text-align: left;
}

.third-row input {
    width: 37vmax;
    height: 8vmax;
    border-radius: 5px;
    background-color: #ebebeb;
    padding: 5px;
}

.third-row label {
    color: #0A4452;
    font-size: 20px;
}

.fourth-row {
    margin: 2vmax 0vmax 1vmax 0vmax;
}

.fourth-row input {
    width: 200px;
    height: 45px;
    background-color: #0A4452;
    color: #ffffff;
    border-radius: 25px;
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #0A4452;
    width: 100%;
    height: 15vmax;
    color: #ffffff;
}

.footer-left {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin-left: 7vmax
}

.footer-left p {
    font-size: 20px;
    margin-bottom: 1vmax;
}

.footer-left a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 1vmax;
}

.footer-left i {
    font-size: 30px;
}

footer img {
    width: 40%;
    height: auto;
    margin-bottom: 2vmax;
}

.footer-right {
    padding: 30px;
    display: flex;
    width: 30%;
    margin-right: 15vmax;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-right p {
    padding: 12px;
    margin-bottom: 1vmax;
}

footer button {
    background-color: #ffffff;
    color: #0A4452;
    width: 268px;
    height: 78px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
}

#button-footer {
    text-decoration: none;
    color: #0A4452;
}

@media screen and (max-width: 480px) {
    .left-nav img {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block; 
    }

    .right-nav {
        display: none; 
    }
}