* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/*Nav bar*/

nav {
    background-color: #0A4452;
    color: #ffffff;
    width: 100%;
    height: 5vmax;
    z-index: 10;
    position: sticky;
    top: 0;
    overflow: visible;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 2vmax;
}

.left-nav img {
    width: 80%;
    height: auto;
}

.right-nav {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 4vmax;
    gap: 5vmax;
    align-items: center;
    font-weight: bold;
}

#home:hover {
    background-color: #0A4452;
}

#poptavka {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #ffffff;
    color:#0A4452;
    width: 70px;
    height: 20px;
    border-radius: 25px;
    transition: background-color 0.5s, color 0.5s;
}

#poptavka:hover {
    background-color: #cccccc;
}

nav a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 25px; 
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; 
}


nav a:hover {
    background-color: #ffffff; 
    color: #0A4452; 
}

#osvc {
    transition: background-color 0.3s, color 0.3s;
}

#osvc:hover {
    border-radius: 10px 10px 0 0; 
}

#neziskovka {
    transition: background-color 0.3s, color 0.3s;
}

#neziskovka:hover {
    border-radius: 0;
}

#firma {
    transition: background-color 0.3s, color 0.3s;
}

#firma:hover {
    border-radius: 0 0 10px 10px; 
}

#logo-nav {
    background-color: none;
}

.fa-solid {
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    background-color: white; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    z-index: 1; 
    font-size: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu li {
    list-style: none; 
}

.dropdown-menu a {
    display: block; 
    padding: 8px 16px; 
    text-decoration: none; 
    color: black; 
}

.dropdown-menu a:hover {
    background-color: #f1f1f1; 
}

/* Contact section */

.contact-info {
    margin-bottom: 5vmax;
}

.contact-info h1 {
    text-align: center;
    margin-top: 1vmax;
    margin-bottom: 2vmax;
    color: #0A4452;
    font-size: 30px;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 8vmax;
    justify-content: center;
    text-align: center;
}

.boxes h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 1vmax;
}

.boxes p {
    color: #ffffff;
}

.boxes a {
    color: #ffffff;
    text-decoration: none;
}

.first-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0A4452;
    width: 15vmax;
    height: 8vmax;
    border-radius: 25px;
}

.second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0A4452;
    width: 15vmax;
    height: 8vmax;
    border-radius: 25px;
}

.third-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0A4452;
    width: 15vmax;
    height: 8vmax;
    border-radius: 25px;
}

/* Map section */

.map-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20vmax;
    background-color: #0A4452;
    color: #ffffff;
    width: 100%;
    height: 25vmax;
    margin-bottom: 2vmax;
}

.map-section h1 {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.map-section iframe {
    display: flex;
    width: 25vmax;
    height: 20vmax;
}

/* Questions section */

.questions-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20vmax;
    height: 15vmax;
    margin-bottom: 1vmax;
}

.titles {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #0A4452;
}

#help {
    margin-left: 13vmax;
}

.questions-button button {
    background-color: #0A4452;
    color: #ffffff;
    width: 15vmax;
    height: 7vmax;
    font-size: 36px;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
}

/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #0A4452;
    width: 100%;
    height: 15vmax;
    color: #ffffff;
}

.footer-left {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin-left: 7vmax
}

.footer-left p {
    font-size: 20px;
    margin-bottom: 1vmax;
}

.footer-left a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 1vmax;
}

.footer-left i {
    font-size: 30px;
}

footer img {
    width: 40%;
    height: auto;
    margin-bottom: 2vmax;
}

.footer-right {
    padding: 30px;
    display: flex;
    width: 30%;
    margin-right: 15vmax;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-right p {
    padding: 12px;
    margin-bottom: 1vmax;
}

footer button {
    background-color: #ffffff;
    color: #0A4452;
    width: 268px;
    height: 78px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
}

#button-footer {
    text-decoration: none;
    color: #0A4452;
    cursor: pointer;
}

